## Test your knowledge. 

** Answer the following questions **

Write (or just say out loud to yourself) a brief description of all the following Object Types and Data Structures we've learned about. You can edit the cell below by double clicking on it. Really this is just to test if you know the difference between these, so feel free to just think about it, since your answers are self-graded.

Double Click HERE to edit this markdown cell and write answers.

Numbers:It is an number of numeric data type which includes integers(int), floating point numbers,addition,subraction, multiplication,divison powers and other of operation.

Strings:It is a sequence of the characters

Lists:ordered ,mutable collections of elements

Tuples:It  is an ordered ,mutable collections of elements in which we can do slicing, unpacking and here the elements will be under simple bracket.

Dictionaries:Unordered, mutable collections of the key- value pairs.

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [1]:
10*10/1+2*2-3.75

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [2]:
44
4*(6+5)
4*(11)
44

44

In [3]:
24
4*6+5
24+5

29

In [6]:
30
4+6*5
10*5

50

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>

What would you use to find a numberâ€™s square root, as well as its square?

In [ ]:
# Square root:

In [ ]:
# Square:

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [7]:
s = 'hello'
# Print out 'e' using indexing
s
s[1]

'e'

Reverse the string 'hello' using slicing:

In [9]:
s ='hello'
# Reverse the string using slicing
s
print(s[::-1])

olleh

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [14]:
s ='hello'
# Print out the 'o'

# Method 1:
s='hello'
s
s[4]

'o'

In [15]:
# Method 2:
s='hello'
s
s[-1]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [17]:
# Method 1:
my_list=[0,0,0]
my_list

[0, 0, 0]

In [22]:
# Method 2:
num_list=[0,0,0]
print(num_list)

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [38]:
list3 = [1,2,[3,4,'hello']]
1=[1,2,3,4,'hello']]
l1=1[2]
l1[l1.index('hello')]='goodbye'
print

SyntaxError: unmatched ']' (3197493455.py, line 2)

Sort the list below:

In [ ]:
list4 = [5,3,4,6,1]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [33]:
d = {'simple_key':'hello'}
# Grab 'hello'
print(d['simple_key'])

hello

In [34]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
print(d['k1']['k2'])

hello

In [36]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
print(d['k1'][0]['nest_key'][1][0])

hello

In [ ]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

Can you sort a dictionary? Why or why not?<br><br>

## Tuples

What is the major difference between tuples and lists?<br><br>

In [ ]:
The major difference between tuples and lists are :
    Lists is a collection of data that is ordered and changeable.
    Tuples is a collection of data that is ordered and unchangeable.

How do you create a tuple?<br><br>

In [ ]:
A tuple is created by placing all the items (elements)inside parentheses()seperated by commas.

## Sets

What is unique about a set?<br><br>

In [ ]:
A set is uniquely determined by its elements.

Use a set to find the unique values of the list below:

In [39]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
list5={1,2,33,4,4,11,22,3,3,2}
list5

{1, 2, 3, 4, 11, 22, 33}

## Great Job on your first assessment!