In [1]:
#Range

In [2]:
mylist=[1,2,3,4,5,6,7,8,9,10]

In [3]:
for num in range(0,10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [4]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [6]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [7]:
#enumerate

In [12]:
index_count=0
for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count  +=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [13]:
word='abcde'
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [17]:
#zip function

In [19]:
mylist1= ['a','b','c']
mylist2=[1,2,3]
for item in zip(mylist1,mylist2):
    print(item)

('a', 1)
('b', 2)
('c', 3)

In [24]:
mylist1= ['a','b','c']
mylist2=[1,2,3,4,5]
list (zip (mylist1,mylist2))

[('a', 1), ('b', 2), ('c', 3)]

In [59]:
mylist1= ['a','b','c']
mylist2=[1,2,3,4,5]
mylist3=[11,22,33]
for l1,l2,l3 in zip(mylist1,mylist2,mylist3):
    print(l1)
    print(l2)
    print(l3)

a
1
11
b
2
22
c
3
33

In [26]:
#in keyboard

In [27]:
'x'in [1,2,3]

False

In [28]:
'x' in ['x','y','z']

True

In [29]:
'a'in 'wonderla'

True

In [30]:
'mykey' in {'mykey':1}

True

In [31]:
d={'mykey':345}

In [32]:
345 in d.values()

True

In [33]:
345 in d.keys()

False

In [34]:
345 in d.items()

False

In [35]:
#min ,max

In [36]:
mylist =[10,20,30,40,50,60]
min(mylist)

10

In [37]:
max (mylist)

60

In [41]:
#random library

In [45]:
from random import shuffle
mylist=[1,2,3,4,5,6,7,8]
shuffle(mylist)
rd1=mylist

In [46]:
rd1

[3, 6, 5, 2, 4, 7, 1, 8]

In [67]:
from random import randint
randint(0,10)

9

In [73]:
randint(0,100)

94

In [49]:
my_num = randint(0,50)

In [50]:
my_num

37

In [51]:
#Input

In [52]:
input('Enter a number here')

Enter a number here22

'22'

In [53]:
int(input('Enter your favourite no'))

Enter your favourite no25

25

In [75]:
result=int(input('Enter your favourite no'))

Enter your favourite no26

In [57]:
result

10

In [58]:
type(result)

int

In [60]:
number=float(input('Enter 1st number'))
number_two= float(input('Enter 2nd number'))
result= number+number_two
print(result)

Enter 1st number2
Enter 2nd number3
5.0

In [74]:
type(result)

float

In [78]:
length=float(input('Enter the length'))
width=float(input('Enter the width'))
area=length*width
print('Area of rectangle =',area)

Enter the length35
Enter the width23
Area of rectangle = 805.0

In [79]:
type(area)

float

In [81]:
#list comphrehension in python

In [103]:
mystring='hello'
mylist=[]
for letter in mystring:
    mylist.append(letter)

In [83]:
mylist

['h', 'e', 'l', 'l', 'o']

In [84]:
mystring='hello'
mylist=[ letter for letter in mystring]

In [85]:
mylist

['h', 'e', 'l', 'l', 'o']

In [86]:
word='hello'
mylist=[x for x in word]

In [87]:
mylist

['h', 'e', 'l', 'l', 'o']

In [88]:
mylists=[x for x in 'april and may']

In [89]:
mylists

['a', 'p', 'r', 'i', 'l', ' ', 'a', 'n', 'd', ' ', 'm', 'a', 'y']

In [96]:
mynum=[num **2 for num in range(0,10)]

In [97]:
mynum

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [104]:
myeven=[x**2 for x in range(0,11) if x%2==0]

In [105]:
myeven

[0, 4, 16, 36, 64, 100]

In [110]:
celcius= [0,10,20,30,50,34.5]
fahrenheit= [((9/5)*temp+32) for temp in celcius]

In [111]:
fahrenheit

[32.0, 50.0, 68.0, 86.0, 122.0, 94.1]

In [116]:
 results= [x if x%2 ==0 else 'OOD' for x in range(0,10)]

In [117]:
results

[0, 'OOD', 2, 'OOD', 4, 'OOD', 6, 'OOD', 8, 'OOD']

In [118]:
#NESTED LOOP

In [123]:
mylist=[]
for x in [1,4,6]:
    for y in [1,10,100]:
        mylist.append(x*y)

In [124]:
mylist

[1, 10, 100, 4, 40, 400, 6, 60, 600]

In [127]:
mynest = [x*y for x in [2,4,6] for y in [1,10,1000]]

In [128]:
mynest

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]